@import url('http://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');


a {
    text-decoration: none; /* 去掉鏈接的下劃線 */
    outline: none; /* 去掉聚焦時的藍色邊框 */
}

a:focus, a:active {
    outline: none; /* 移除焦點和點擊時的外圍輪廓 */
}


body {
    font-family: "Noto Sans TC", serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#000000;
}

.container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    margin: 32px auto;
    gap: 0px;
    align-items: center;
    
}

/* Left side - Image */
.image-section {
	margin-left: 70px;
	
	
    flex: 1.8;
    height: 544px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.placeholder-image {
    width: 100%;
    height: 100%;
    background: #000000;
    border-radius: 10px;
    overflow: hidden;
}

.placeholder-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* Right side - Login Form */
.login-section {
    flex: 0.7;
    margin-right: 120px;
    
    min-width: 320px;
    max-width: 350px;
    height: 500px;
    background-color:#383838;
    padding: 20px;
    border: 2px solid rgba(87, 87, 87, 0.329);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
}

.login-content {
    padding: 20px;
}

h1 {
    font-family: "Noto Sans TC", serif;
    color: #ffffff;
    font-size: 45px;
    margin-bottom: 50px;
    text-align: center;
}

.form-floating {
    position: relative;
    width: 92%;
    margin-bottom: 15px;
}

.form-control {
    background-color: rgb(190, 188, 188);
    font-size: 16px;
    border-radius: 5px;
    border: solid #888181;
    padding: 12px;
    width: 92%;
    padding-right: 35px;
}

#checkEye {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn {
    font-family: "Noto Sans TC", serif;
    background-color: #4a8dd1;
    color: white;
    margin: 8px 0;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #0a519c;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    gap: 10px;
}

.btn-group .btn {
    width: 48%;
    padding: 12px;
}

.social-icons {
    margin-top: 10px;
    text-align: center;
}

.social-icons button {
    color: #9772f7;
    font-size: 30px;
    margin: 0 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;

}



.social-icons button:hover {
    color: #cb0bf7;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.error-message h3 {
    color: #ff0000;
    text-align: center;
    font-size: 14px;
    margin: 5px 0;

}

/* Responsive Design */
@media (max-width: 1200px) {
    .container {
        gap: 0;
        display: flex;
        justify-content: center; /* 確保容器內的區塊居中 */
        align-items: center; /* 垂直居中 */
    }
    .login-section {
        flex: 1;
        width: 100%; /* 確保最大寬度不超過 */
        max-width: 350px; /* 寬度 */
        min-width: 320px; /* 最小寬度可以設置為 */
        height: 544px; 
        
        padding: 20px;
        margin: 0 auto; /* 使登入區域居中 */
        box-sizing: border-box; /* 確保padding不會影響寬度計算 */
    }

    .image-section {
        
        display: none;
    }

}





