.switch {
    position: relative;
    text-decoration: none;
    font-family: "Noto Sans TC", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    color: white;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

.switch:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 100%;
    left: 0;
    top: -2px;
}